.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 1;

  &.active {
    display: block;
    animation: fade 1s;
  }

  &.hidden {
    display: none;
  }
}

.market-list {
  margin: 2rem;
  width: 100%;
  max-width: 620px;
  min-height: 200px;
  text-align: center;

  .title {
    font-size: 2.3rem;
    font-weight: 500;
    margin: 1.6rem 0;
    user-select: none;
  }

  .number-items {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    user-select: none;
  }

  .main-add-btn {
    margin: 1rem 0;
    border: none;
    width: 100%;
    height: 46px;
    font-size: 1.2rem;
    color: white;
    background-color: #01a8ff;
    border-radius: 0.2rem;
    transition: all 0.3s;
    user-select: none;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:active {
      opacity: 1;
    }
  }
}

.input-container {
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  padding: 1rem 2rem;
  width: 100%;
  min-height: 200px;
  max-width: 420px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0.3rem 0 1.6rem 0;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 0.5rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid #cecece;
    border-radius: inherit;

    &:focus {
      border-color: #01a8ff;
    }

    &::placeholder {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }

  .btn-container {
    width: 100%;
    display: flex;
    gap: 1rem;

    button {
      margin: 1.3rem 0 0.3rem 0;
      border: none;
      width: 100%;
      height: 48px;
      font-size: 1.2rem;
      color: white;
      background-color: #01a8ff;
      border-radius: 0.2rem;
      user-select: none;

      &:hover {
        cursor: pointer;
      }

      &:active {
        opacity: 1;
      }
    }

    .add-btn:hover {
      background-color: #01a6ffb9;
    }

    .close-btn {
      background-color: #dddddd;
      color: black;

      &:hover {
        background-color: #ddddddaf;
      }
    }
  }

  &.active {
    display: block;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  &.hidden {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(800px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

