.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 1;

  &.show {
    display: block;
    animation: fade 1s;
  }

  &.inactive {
    display: none;
  }
}

.market-list {
  margin: 2rem;
  width: 100%;
  max-width: 620px;
  min-height: 200px;
  text-align: center;

  .title {
    font-size: 2.3rem;
    font-weight: 500;
    margin: 1.6rem 0;
  }

  .number-items {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .main-add-btn {
    margin: 1rem 0;
    border: none;
    width: 100%;
    height: 46px;
    font-size: 1.2rem;
    color: white;
    background-color: #01a8ff;
    border-radius: 0.2rem;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:active {
      opacity: 1;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
